extends layout

block content
  div(class="separtor") 
  .container
   div(class="boxlogin")
     h1 Registarse
     p Cree una cuenta gratuita para poder accesar a las herramientas.
     p Tiene una cuenta? 
       a(href="/") Ingrese a ella 
  
     br
     form(role='form', action="/register",method="post", style='max-width: 300px;')
       label Nombre de usuario
       .form-group
           input.form-control(type='text', name="username", placeholder='Enter Username')
       label Contraseña 
       .form-group
         input.form-control(type='password', name="password", placeholder='Password')
       button.btn.btn-default(type='submit') Submit
       &nbsp;
       a(href='/')
         button.btn.btn-primary(type="button") Cancel
