extends paglenceria

block content
 div(class="container barraM")
  nav(class="navbar navbar-inverse")
    div(class="navbar-header")
     button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse")
     span(class="sr-only") Toggle navigation
     span(class="icon-bar")
     span(class="icon-bar")
     span(class="icon-bar")
    a(class="navbar-brand" href="/Lenceria/mujer") Lenceria
    
    div(class="collapse navbar-collapse js-navbar-collapse")
     ul(class="nav navbar-nav")
      li(class="dropdown mega-dropdown")
       a(href="/Lenceria/mujer" class="dropdown-toggle" data-toggle="dropdown") Mujer
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")


      li(class="dropdown mega-dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") Hombre
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="/images/m3.jpg") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")



      li(class="dropdown mega-dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") Niña
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")



      li(class="dropdown mega-dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") Niño
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")
      li
       a(href="#") Ventas
      li
       a(href="#") Productos
      li
       a(href="#") Agregar Productos

     
     ul(class="nav navbar-nav navbar-right")
      li(class="dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Mi cuenta
        span(class="caret")
       ul(class="dropdown-menu" role="menu")
        li #{user.username}
        li(class="divider")
        li
         a(href="/logout") Salir
  div(ng-app="appProducto" ng-controller="agregaProducto") 
   .container
    div(class="boxlogin")
     h1(class="h1login")    Agregar Producto
     p.lead Ingresa los datos del producto
     br
     form(role='form' style='max-width: 300px;')
      div
       input(type="text" class="form-control" placeholder="id del product" ng-model="producto.id_producto")
       span(class="glyphicon glyphicon-tasks form-control-feedback")
      div
       input(type="text" class="form-control" placeholder="nombre " ng-model="producto.nombre")
       span(class="glyphicon glyphicon-tasks form-control-feedback")
      div
       input(type="text" class="form-control" placeholder="nombre " ng-model="producto.tipo")
       span(class="glyphicon glyphicon-tasks form-control-feedback")

       button(type="submit" class="btn btn-success" ng-click="agregar()") Ingresar
       &nbsp;
       a(href='/')
         button.btn.btn-primary(type="button") Cancelar
       div
        h4 Producto Registrados Recientemente
        div(class="item" ng-repeat="producto in productos")
        span(class="id_producto") id producto : {{productos[producto.id_producto]}} 
     



     
