extends layout

block content
  div(class="separtor") 
  
 
  if (!user)
    img(src="/images/pan.jpg" class="img-circle iconoPanSession")
    
    .container
    div(class="boxlogin")
     h1(class="h1login")     Ingresar
     p.lead Ingresa tu usuario y contraseña.
     br
     form(role='form', action="/login",method="post", style='max-width: 300px;')
       .form-group
           input.form-control(type='text', name="username", placeholder='Enter Username')
       .form-group
         input.form-control(type='password', name="password", placeholder='Password')
       button.btn.btn-default(type='submit') Ingresar
       &nbsp;
       a(href='/')
         button.btn.btn-primary(type="button") Cancelar
       p
        a(href="/") Ingresar?
         
        a(href="/register") Registrarse


   
  if (user)
    div(class="boxlogin")
     h2 Estas  como usuario #{user.username}
     img(src="/images/do.jpg")
     br
     a(href="/logout") Logout