extends paglenceria

block content
 div(class="container barraM")
  nav(class="navbar navbar-inverse")
    div(class="navbar-header")
     button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse")
     span(class="sr-only") Toggle navigation
     span(class="icon-bar")
     span(class="icon-bar")
     span(class="icon-bar")
    a(class="navbar-brand" href="#") Lenceria
    
    div(class="collapse navbar-collapse js-navbar-collapse")
     ul(class="nav navbar-nav")
      li(class="dropdown mega-dropdown")
       a(href="/Lenceria/mujer" class="dropdown-toggle" data-toggle="dropdown") Hombre
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")

