extends paglenceria

block content
 div(class="container barraM")
  nav(class="navbar navbar-inverse")
    div(class="navbar-header")
     button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse")
     span(class="sr-only") Toggle navigation
     span(class="icon-bar")
     span(class="icon-bar")
     span(class="icon-bar")
    a(class="navbar-brand" href="/lenceria") Lenceria
    
    div(class="collapse navbar-collapse js-navbar-collapse" load="inicio()")
     ul(class="nav navbar-nav")
      li(class="dropdown mega-dropdown")
       a(href="/lenceria" class="dropdown-toggle" data-toggle="dropdown") Mujer
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")
      li(class="dropdown mega-dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") Hombre
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")



      li(class="dropdown mega-dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") Niña
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")



      li(class="dropdown mega-dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown") Niño
        span(class="caret")
       ul(class="dropdown-menu mega-dropdown-menu")
        li( class="col-sm-3")
         ul
          li(class="dropdown-header") Ropa interior de hombre
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")
             img(src="/images/rh1.jpg" class="img-responsive imgprincipal" alt="product 1")
             h4
              small Boxer's  para hombre
             button( class="btn btn-primary" type="button") Agregar la compra
          li(class="divider")
          li 
           a(href="#") Ver productos
            span(class="glyphicon glyphicon-chevron-right pull-right")
        li(class="col-sm-3")
         ul
          li(class="dropdown-header") Mucho mas
          li
           a(href="#") Calcetines
          li
           a(href="#") Boxer's
          li 
           a(href="#") Camiseta
          div(id="menCollection" class="carousel slide" data-ride="carousel")
           div(class="item active")
            a(href="#")  
             img(src="/images/rh2.jpg" class="img-responsive imgpeqe" alt="product 1")
            h4 
             small Calcetines 
            button(class="btn btn-primary" type="button") Vender 
          li(class="divider")
      li
       a(href="#") Ventas
      li
       a(href="#") Productos
      li
       a(href="/AgregarProducto") Agregar Productos

     
     ul(class="nav navbar-nav navbar-right")
      li(class="dropdown")
       a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Mi cuenta
        span(class="caret")
       ul(class="dropdown-menu" role="menu")
        li #{user.username}
        li(class="divider")
        li
         a(href="/logout") Salir
    div(class="panel-group" id="accordion")
    div(class="panel panel-default")
      div(class="panel-heading",style="background:#31DC86;")
        h4(class="panel-title")
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse1") Dama
      

      div(id="collapse1" class="panel-collapse collapse in")
        div(class="panel-body" yo 1) 
             

             div(class="row")
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/m1.png")
                    div(class="caption")
                       h3 Ropa interior para mujer
                       p Ropa para mujer
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender
                         a(href="#", class="btn btn-default", role="button") Agregar Mas
   

               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/m2.jpg")
                    div(class="caption")
                       h3 Ropa interior para mujer
                       p Ropa para mujer
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas 
               
               
               
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/m3.jpg")
                    div(class="caption")
                       h3 Ropa interior para mujer
                       p Ropa para mujer
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas           




            



     
   div(class="panel panel-default")
     div(class="panel-heading",style="background:#31DC86;")
      h4(class="panel-title")
         a(data-toggle="collapse" data-parent="#accordion" href="#collapse2") Caballero
     
     div(id="collapse2" class="panel-collapse collapse")
       div(class="panel-body")

             

             div(class="row")
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/h1.jpg")
                    div(class="caption")
                       h3 Ropa interior para hombre
                       p Ropa para hombre
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender
                         a(href="#", class="btn btn-default", role="button") Agregar Mas
   

               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/h2.jpg")
                    div(class="caption")
                       h3 Ropa interior para hombre
                       p Ropa para hombre
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas 
               
               
               
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/h3.jpg")
                    div(class="caption")
                       h3 Ropa interior para hombre
                       p Ropa para hombre
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas           

                    

           










           
       
   div(class="panel panel-default")
     div(class="panel-heading",style="background:#31DC86;")
       h4(class="panel-title")
         a(data-toggle="collapse" data-parent="#accordion" href="#collapse3") Niño
      
     div(id="collapse3" class="panel-collapse collapse")
       div(class="panel-body") 



             

             div(class="row")
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/ñ1.jpg")
                    div(class="caption")
                       h3 Ropa interior para mujer
                       p Ropa para mujer
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender
                         a(href="#", class="btn btn-default", role="button") Agregar Mas
   

               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/ñ2.jpg")
                    div(class="caption")
                       h3 Ropa interior para mujer
                       p Ropa para mujer
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas 
               
               
               
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/ñ3.jpg")
                    div(class="caption")
                       h3 Ropa interior para mujer
                       p Ropa para mujer
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas           

   
   div(class="panel panel-default")
     div(class="panel-heading",style="background:#31DC86;")
       h4(class="panel-title")
         a(data-toggle="collapse" data-parent="#accordion" href="#collapse4") Niña
      
     div(id="collapse4" class="panel-collapse collapse")
       div(class="panel-body")

             

             div(class="row")
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/n1.jpg")
                    div(class="caption")
                       h3 Ropa interior para niña
                       p Ropa para niña
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender
                         a(href="#", class="btn btn-default", role="button") Agregar Mas
   

               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/n2.jpg")
                    div(class="caption")
                       h3 Ropa interior para niña
                       p Ropa para niña
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas 
               
               
               
               div(class="col-sm-6 col-md-4")
                 div(class="thumbnail")
                    img(src="/images/n3.jpg")
                    div(class="caption")
                       h3 Ropa interior para niña
                       p Ropa para niña
                       p 
                         a(href="#", class="btn btn-primary", role="button") Vender                                        
                         a(href="#", class="btn btn-default", role="button") Agregar Mas           


        


    
     
            