.boxlogin{
  width: 900px;
	height: 100px;
    position: relative;
  left: 450px;
  top: 0px;

}

.nameusr{
  color:black;
  position: relative;
  left: 50px;
  top: 0px;
}




.separtor{

  background:#427279;
  width: 100%;
  height: 10px;
}
.ProductosDiv{
  width: 100%;
	position: relative;
  
  

}
.menu{
  background:#306FEE;
  color: white;
  width: 900px;
	height: 50px;
   position: relative;
  left: 170px;
  top: 0px;
}
.Titulo{

   width: 900px;
	height: 50px;
   position: relative;
  left: 170px;
  top: 0px;

}
 

.divArriba{
  background:#C2F5FC;
 width: 1130px;
	height: 100px;
    position: relative;
  left: 50px;
  top: 0px;

}
#Lenceria{
   width: 100px;
	height: 100px;
}
.iconoPanSession{
   width: 200px;
	height: 200px;
  position: relative;
  left: 520px;
  top: 10px;
}
.h1login{
  position: relative;
  left: 50px;
  top: 0px
}

.iconoPan{
   width: 100px;
	height: 100px;
  position: relative;
  left: 0px;
  top: 0px;
}
